src/api/schema/domain/list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:float" name="apiversion"/>
				<xs:element name="domains">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="domain">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name"/>
										<xs:element type="xs:int" name="expiration"/>
										<xs:element type="xs:string" name="status"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
